@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

body {
    background-color: #fed7aa;

    margin: 0;
    padding: 0;

    font-family: 'Roboto', sans-serif;

    display: flex;
    align-items: center;
    justify-content: center;

    height: 100vh;
}

.container {
    height: 150px;
    width: 300px;

    display: grid;
    grid-template-columns: 3;
    grid-template-rows: 2;
    gap: 10px;
}

.containers-grid {
    background-color: #fdba74;

    padding: 10px;

    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.container-title { grid-row: 1; grid-column: span 3; }

.container-minus { grid-row: 2; grid-column: 1; }

.container-value { grid-row: 2; grid-column: 2; }

.container-plus { grid-row: 2; grid-column: 3; }

.container-title {
    font-size: 24px;
}

.container-minus, .container-value, .container-plus {
    font-size: 30px;

    user-select: none;
}